@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    background: black;
    position: relative;
    font-family: roboto, sans-serif;
}
.navbar {
    width: 100%;
    height: 65px;
    position: relative;
    top: 0;
    left: 0px;
    padding: 0 4%;
    background: #333545;
    z-index: 9;
    display: flex;
    align-items: center;
}

.input {
    height: 36px;
    width: 40%;
    position: relative;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    display: flex;
}

.input input {
    width: 93%;
    height: 30px;
    border-color: transparent;
    outline-color: transparent;
    font-size: 13.9px;
    color: black;
    opacity: 90%;
    font-weight: 520;
}

.input ion-icon {
    font-size: 16px;
    padding-left: 12px;
    color: #858585;
    font-weight: bold;
    width: 16px;
}

.right-container {
    display: flex;
    margin-left: auto;
}
.location {
    position: relative;
    text-decoration: none;
    color: #c7cacb;
    font-size: 14px;
    margin-right: 18px;
    top: 12px;
}

.location:hover {
    color: white;
    text-decoration: none;
}

.location ion-icon {
    font-size: 12px;
    padding-left: 5px;
}
.signin {
    position: relative;
    width: 65px;
    height: 25px;
    margin-right: 9px;
    border-radius: 4px;
    font-size: 12px;
    top: 10px;
    color: #fff;
    background-color: #1A98FF;
    border: #1A98FF;
}

#city{
    height: 26px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #1A98FF;
    color: #fff;
    border-radius: 10%;
}
a.btn-customized {
    position: relative;
    padding-right: 94px;
    color: #f6f2e5;
    font-size: 30px;
    top: 3px;
}
.subnavbar {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #222539;
}
.navitem {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 138px;
    padding-top: 10px;
}
ul.navitem li {
    display: inline;
}
.navitem li a {
    display: inline;
    text-decoration: none;
    color: #c8c8c3;
    font-size: 14px;
    padding: 8px;
}
.navitem li a span {
    padding-bottom: 12px;
    font-size: 7px;
    color: #c4242b;
    font-weight: 600;
    position: absolute;
    top: 5px;
    left: 110px;
}
.navitem li a:hover {
    color: white;
}
.navitem1 {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    right: 136px;
    padding-top: 10px;
}
.navitem1 li a {
    display: inline;
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 10px;
}

ul.navitem1 li {
    display: inline;
   
}
.navitem1 li a span {
    padding-bottom: 12px;
    font-size: 7px;
    color: #c4242b;
    font-weight: 600;
    position: absolute;
    top: 6px;
    left: 75px;
}

.navitem1 li a:hover {
    color: white;
}
.slider-container {
    max-width: 800px;
    margin: 2rem auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  .poster {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .event{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  }
  .burg div{
    
        width: 25px;
        height: 4px;
        background-color: #1A98FF;
        margin: 4px 0;
      
  }
  .burg{
    margin-top: 8px;
  }
  footer {
    background-color: #222539;
    color: #fff;
    padding: 10px;
}

.foot{
    display: flex;
    align-items: center;
}
.foot1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background-color: #333545;
    height: 120px;
}
.foot2{
    font-family: Roboto, sans-serif;
    font-size: 11px;
    color: rgb(127, 127, 127);
}